{% extends "app/base.html" %} 

{% block cancel %}
<style>
  .cancel::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
</style>
{% endblock %} 

{% block content %}

<div class="mb-10 relative">
  <p class="text-xl">{% now "N" %}{% now "d" %}日({% now "D" %})の特売商品</p>
  {% if keyword %}
  <p class="mt-1 text-lg">検索結果 {{item_data.count}}件</p>
  {% endif %}

  {% if not user_data.address %}
  <div
    id="toast-default"
    class="absolute -top-4 -right-4 flex items-center p-4 w-full max-w-xs bg-white rounded-lg shadow-md"
    role="alert"
  >
    <div
      class="inline-flex flex-shrink-0 justify-center items-center w-8 h-8 rounded-lg"
    >
    <svg xmlns="http://www.w3.org/2000/svg" class="text-emerald-700 icon icon-tabler icon-tabler-pin" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4"></path>
      <line x1="9" y1="15" x2="4.5" y2="19.5"></line>
      <line x1="14.5" y1="4" x2="20" y2="9.5"></line>
    </svg>
    </div>
    <div class="flex flex-col">
      <div class="ml-3 text-sm font-normal text-emerald-700">
        お住まいの県を登録してください
      </div>
      <div class="ml-3 text-xs text-gray-500">
        マイページ > お住まいの県を登録する
      </div>
    </div>
    <button
      type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-white rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-emerald-700 transition inline-flex h-8 w-8"
      data-dismiss-target="#toast-default"
      aria-label="Close"
    >
      <span class="sr-only">Close</span>
      <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
  {% endif %}
</div>
<div class="h-16 w-full bg-gray-50 mb-5 rounded-md p-3 flex gap-x-3">
  <form action="{% url 'sale_search' %}" method="get">
    {% csrf_token %}
    <div class="relative">
      <input
        value="{{ keyword }}"
        class="cancel shadow bg-white border border-emerald-700 text-emerald-700 block h-full rounded-md pl-5 pr-7 py-3 w-60 focus:outline-none text-sm focus:appearance-none"
        placeholder="絞り込み検索"
        type="search"
        name="keyword"
        id="sale-search"
        autocomplete="off"
      />
      <div
        class="absolute top-1/2 -translate-y-1/2 right-3 text-emerald-700 h-5 w-5"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-search"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="10" cy="10" r="7"></circle>
          <line x1="21" y1="21" x2="15" y2="15"></line>
        </svg>
      </div>
      <button hidden type="submit">検索</button>
    </div>
  </form>
  <div>
    <select
      name="shop-select"
      id=""
      class="block h-full w-36 px-5 border border-emerald-700 text-emerald-700 bg-white shadow hover:bg-emerald-700 text-sm transition hover:text-white rounded-md focus:outline-none text-center appearance-none cursor-pointer"
    >
      <option value="" hidden selected>店舗を選ぶ</option>
      <option value="">テスト１</option>
      <option value="">テスト２</option>
      <option value="">テスト３</option>
      <option value="">テスト４</option>
    </select>
  </div>
</div>
<div class="grid grid-cols-4 gap-y-7 gap-x-4 mb-7">
  {% for item_data in item_data %}
  <div class="hover:opacity-80 cursor-pointer">
    <div
      class="h-[275px] mb-3.5 bg-gray-50 rounded-md grid place-items-center shadow-sm"
    >
      <img
        class="h-auto w-40 mix-blend-multiply"
        src={{ item_data.url }}
        alt=""
      />
    </div>
    <div class="mb-1">
      <p class="text-xs text-gray-500">{{ item_data.shop }}</p>
    </div>
    <div class="mb-2">
      <p class="w-[275px] text-sm leading-5 overflow-hidden h-10">
        {{ item_data.name }}
      </p>
    </div>
    <div class="flex items-center">
      <div>
        <p class="text-xl">¥{{ item_data.price }}</p>
      </div>
      <div class="ml-auto">
        {% if item_data.id in favorite_list %}
        <button name="{{item_data.id}}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-heart text-red-600 fill-red-600"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
            ></path>
          </svg>
        </button>
        {% else %}
        <button name="{{item_data.id}}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-heart text-red-600"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
            ></path>
          </svg>
        </button>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
