{% extends "app/base_signin.html" %}

{% load widget_tweaks %} 

{% block content %}

<div class="my-12 w-[350px] mx-auto grid place-items-center">
  <h1 class="text-3xl text-center mb-5 tracking-widest" style="font-family: Montserrat;">SIGN IN</h1>
  <div class="mb-8 text-red-600 text-sm"></div>
  <div class="w-full">
    <form method="post">
      {% csrf_token %}
      <div class="mb-4">
        <label for="id_login" class="text-xs mb-2">メールアドレス</label>
        {% render_field form.login class="block py-1 px-2 h-9 bg-white text-sm w-full border-b focus:outline-none focus:border-emerald-700" placeholder="" autocomplete="off" %}
      </div>
      <div class="mb-2">
        <label for="id_password" class="text-xs mb-2">パスワード</label>
        {% render_field form.password class="block py-1 px-2 h-9 bg-white text-sm w-full border-b focus:outline-none focus:border-emerald-700" placeholder="" autocomplete="off" %}
      </div>
      <div class="mb-12 text-right">
        <a href="" class="text-gray-400 text-xs underline">パスワードをお忘れの方</a>
      </div>
      <div class="grid place-items-center mb-10">
        <button class="w-2/3 h-12 border border-emerald-700 text-emerald-700 rounded hover:bg-emerald-700 hover:text-white text-sm transition" type="submit">サインイン</button>
      </div>
      <div class="text-center">
        <a href="{% url 'account_signup' %}" class="text-sm underline">初めてご利用の方は、新規登録へお進みください。</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}